.wrapper {
  width: 340px;
  margin: 0 auto;
}

.add {
  width: 40px;
  height: 40px;
  font-size: 60px;
  line-height: 26px;
  cursor: pointer;
  transition: .3s;
  opacity: 0.7;
  margin: 0 auto;
}

.add.active {
  opacity: 1;
  transform: rotate(315deg);
}

.add:hover {
  opacity: 1;
}

form {
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
  animation: show .3s;
}

@keyframes show {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

input {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #aeaeae;
  padding: 5px 10px;
  outline: none;
  transition: 0.3s;
  font-size: 16px;
}

input:hover, input:focus {
  box-shadow: 0 5px 15px -5px rgba(0,0,0,.4);
  border: 2px solid #000;
}

button {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 40px;
  border: 0;
  background: #1E90FF;
  border-radius: 0 8px 8px 0;
  padding: 0 10px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

button:disabled {
  background: #aeaeae;
  color: #000000;
  cursor: no-drop;
}